Repository jonathanlinat/simple-nominatim: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run packages:lint:markdown, bun run packages:lint:code, bun run packages:test

.lintstagedrc.yml:

"packages/**/*.md":
  - bun run packages:lint:markdown
"packages/**/*.mjs":
  - bun run packages:lint:code
  - bun run packages:test

fix: adjust 'package.json' and 'README.md' files
  .changeset/loud-chefs-develop.md
  .github/workflows/continuous-release.yml
  README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
Due: bun run packages:lint:markdown

chore: migrate project from bun to pnpm 7
  .github/actions/install-tools-dependencies/action.yml
  .github/workflows/continuous-release.yml
  .lintstagedrc.yml
  .simple-git-hooks.json
  README.md
  bun.lockb
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.mjs
  packages/cli/src/reverse/geocode.mjs
  packages/cli/src/search/free-form.mjs
  packages/cli/src/search/structured.mjs
  packages/cli/src/status/service.mjs
  packages/core/README.md
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: bun run packages:lint:markdown, bun run packages:lint:code, bun run packages:test

chore: bump packages version
  .changeset/short-numbers-rescue.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
Due: bun run packages:lint:markdown

chore: upgrade NPM dependencies to their latest available version
  .changeset/silver-adults-guess.md
  .github/workflows/continuous-release.yml
  .nvmrc
  LICENSE
  README.md
  package.json
  packages/cli/LICENSE
  packages/cli/package.json
  packages/cli/src/_shared/responseParser.mjs
  packages/cli/src/_shared/yargsOptions.mjs
  packages/cli/src/index.mjs
  packages/cli/src/reverse/geocode.mjs
  packages/cli/src/search/free-form.mjs
  packages/cli/src/search/structured.mjs
  packages/cli/src/status/service.mjs
  packages/core/LICENSE
  packages/core/__tests__/status/service.test.mjs
  packages/core/package.json
  packages/core/src/_shared/dataFetcher.mjs
  packages/core/src/index.mjs
  packages/core/src/reverse/geocode.mjs
  packages/core/src/search/free-form.mjs
  packages/core/src/search/structured.mjs
  packages/core/src/status/service.mjs
  pnpm-lock.yaml
Due: bun run packages:lint:code, bun run packages:test

chore: update and enhance the README files
  README.md
  packages/cli/README.md
  packages/core/README.md
Due: bun run packages:lint:markdown

chore: update the README files
  .github/actions/install-tools-dependencies/action.yml
  README.md
  packages/cli/README.md
  packages/core/README.md
Due: bun run packages:lint:markdown

chore: upgrade NPM dependencies to their latest version
  .changeset/soft-tables-give.md
  .eslintignore
  .eslintrc
  .github/actions/install-tools-dependencies/action.yml
  .github/workflows/continuous-release.yml
  README.md
  build.config.base.ts
  eslint.config.ts
  package.json
  packages/cli/package.json
  packages/core/build.config.ts
  packages/core/package.json
  pnpm-lock.yaml
Due: none

feat: add Zod schema validation (CLI)
  .changeset/code-cleanup-refactor.md
  TODO.md
  build.config.base.ts
  eslint.config.ts
  package.json
  packages/cli/build.config.ts
  packages/cli/package.json
  packages/cli/src/_shared/validation.ts
  packages/cli/src/reverse/geocode.ts
  packages/cli/src/search/free-form.ts
  packages/cli/src/search/structured.ts
  packages/cli/src/status/service.ts
  packages/core/build.config.ts
  packages/core/src/reverse/geocode.ts
  packages/core/src/search/free-form.ts
  packages/core/src/search/structured.ts
  packages/core/src/status/service.ts
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat: enable cache, rate limiting and retry by default + enforce eslint rules
  .changeset/cache-ratelimit-retry-features.md
  .changeset/eslint-rules-enforcement.md
  README.md
  TODO.md
  build.config.base.ts
  eslint.config.ts
  packages/cli/README.md
  packages/cli/build.config.ts
  packages/cli/src/__tests__/types.test-d.ts
  packages/cli/src/_shared/responseParser.ts
  packages/cli/src/_shared/validation.ts
  packages/cli/src/_shared/yargsOptions.ts
  packages/cli/src/index.ts
  packages/cli/src/reverse/geocode.ts
  packages/cli/src/reverse/reverse.types.ts
  packages/cli/src/search/free-form.ts
  packages/cli/src/search/search.types.ts
  packages/cli/src/search/structured.ts
  packages/cli/src/status/service.ts
  packages/cli/src/status/status.types.ts
  packages/core/README.md
  packages/core/build.config.ts
  packages/core/src/__tests__/types.test-d.ts
  packages/core/src/_shared/_shared.types.ts
  packages/core/src/_shared/cacheManager.ts
  packages/core/src/_shared/constants.ts
  packages/core/src/_shared/dataFetcher.ts
  packages/core/src/_shared/rateLimiter.ts
  packages/core/src/index.ts
  packages/core/src/reverse/geocode.ts
  packages/core/src/search/free-form.ts
  packages/core/src/search/structured.ts
  packages/core/src/status/service.ts
  packages/core/src/status/status.types.ts
Due: bun run packages:lint:markdown

feat: switch from unbuild to tsdown
  .changeset/tsdown-migration.md
  README.md
  build.config.base.ts
  eslint.config.ts
  package.json
  packages/cli/build.config.ts
  packages/cli/package.json
  packages/core/build.config.ts
  packages/core/package.json
  pnpm-lock.yaml
  tsdown.config.ts
  turbo.json
Due: none

chore: new release candidate
  .changeset/cache-ratelimit-retry-features.md
  .changeset/eslint-rules-enforcement.md
  .changeset/tsdown-migration.md
  .changeset/vitest-implementation.md
  .github/workflows/continuous-integration.yml
  .github/workflows/continuous-release.yml
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: bun run packages:lint:markdown

fix: fix dist output file extension to .js
  .changeset/fix-cli-dist-extension.md
  packages/cli/package.json
Due: none

fix: resolve rate limit parsing bug
  .changeset/improve-jsdoc-and-config-builders.md
  packages/cli/src/__tests__/_shared/configBuilders.unit.test.ts
  packages/cli/src/_shared/configBuilders.ts
  packages/core/src/reverse/geocode.ts
  packages/core/src/status/service.ts
Due: none

ci: drop NPM_TOKEN in favor of OIDC trusted publishing
  .github/workflows/continuous-release.yaml
Due: none

docs: convert inline option metadata to bullet lists in package READMEs
  .changeset/readme-lists.md
  packages/cli/README.md
  packages/core/README.md
Due: bun run packages:lint:markdown

ci: skip changeset status check on changeset-release/main PR
  .github/workflows/continuous-integration.yaml
Due: none
